<% if (theme.postShare.enable) { %>
  <% if (page.permalink) { %>
    <div class="tools-bar-item share-icon"  id="share-icon">
      <a href="javascript: void(0)">
        <i class="iconfont iconshare"></i>
      </a>
      <div class="share-content hidden">
        <% if (theme.postShare.twitter.enable) { %>
          <a class="share-item" href="https://twitter.com/intent/tweet?text=' + <%- encodeURIComponent(page.title) %> + '&url=' + <%- encodeURIComponent(page.permalink) %> + '" target="_blank" title="Twitter">
            <i class="iconfont icon-twitter"></i>
          </a>
        <% } %>
        <% if (theme.postShare.facebook.enable) { %>
          <a class="share-item" href="https://www.facebook.com/sharer.php?u=<%- page.permalink %>" target="_blank" title="Facebook">
            <i class="iconfont icon-facebooksquare"></i>
          </a>
        <% } %>
      </div>
    </div>
  <% } %>
  <%- js(['/js/shares.js']) %>
<% } %>
